
ul.smobilemenu-theme-default {
    background: black;
    padding: 20px !important;
    overflow-y: auto;

}
ul.smobilemenu-theme-default li ul{
    padding:10px;

}
ul.smobilemenu-theme-default li ul li{
    background-color:#26568E;
    padding:10px;

}
ul.smobilemenu-theme-default li ul li a{
    font-size:16px;

}

ul.smobilemenu-theme-default li {
    border-bottom: #1F5492 1px solid;
    padding: 15px;
}


ul.smobilemenu-theme-default li a {
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
}

ul.smobilemenu-theme-default li a.smm-active {
    color: red;
}

ul.smobilemenu-theme-default li a > i {
    margin-left: 10px;
}

/* close button */
#smobileMenu-close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    color: rgb(40, 90, 148);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding:7px 14px;
    background-color:#fff;
}
