name: Markdown Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Markdown Linting
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: "**/*.md"
